.footer-msg {
    background: url('../../assets/bg-footer.jpg') no-repeat center;
    width: 100%;
    height: 220px;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
}

.footer-msg.quote-externo {
    max-width: 400px;
}

.footer {
    width: 100%;
    background: #000;
    color: #FFF;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fec63e;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px 0px 12px 0px;
}

.footer-historia {
    padding-right: 40px;
}

.footer-contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', serif
}

.footer-rede-social ul li{
    display: inline-block;
    margin-right: 10px;
}

.footer-rede-social ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 8px;
}

.footer-rede-social ul li a:hover {
    border-color: #fff;
}

.footer-copy {
    width: 100%;
    background: #fec63e;
    padding: 20px;
}