.qualidade-lista {
  padding-top: 20px;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade-lista li h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 0 auto;
  margin: 6px auto;
}
